.footer {
	background-color: #eeeeee;
	padding: 20px;
	text-align: center;
	color: #000000;
	border-top: 2px solid rgb(230, 84, 184);
	border-radius: 10px;
}

.footer-content {
	max-width: 600px;
	margin: 0 auto;
}

.logo-footer {
	border-radius: 100%;
	box-shadow: 0px 0px 20px rgb(230, 84, 184);
}

.footer-item {
	margin: 10px 0;
	font-size: 20px;
}

.footer-item a {
	color: #bb2292;
	text-decoration: none;
}

.footer-item a:hover {
	text-decoration: underline;
}