body {
	margin: 0;
	padding: 0;
	background-color: #F0F4F9;
}

a {
	font-size: 23px;
	text-decoration: none;
	color: #000;
}

* {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
}